@font-face {
  font-family: sancreek;
  src: url("./public/fonts/Sancreek-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ded6d6;
  padding: 16px;
}
li:hover,button:hover {
    cursor: pointer;
}
h1 {
  text-align: center;
  padding: 8px;
  font-family: sancreek;
  color: #31733f;
}
.garantia-contenedor {
    padding: 5px;
    display: flex;
    
 
}
.garantia-contenedor p {
   margin: 0 auto;
   font-size: 16px;
   font-weight: 900;
   background: #31733f;
   padding: 20px;
   border-radius: 20px;
   background: rgb(23 162 184);
   color: #ffffff;
  
   
}
.header {
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 5px;
}
.header ul {
    box-shadow: 0 4px 4px  rgb(4, 120, 87);
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0 auto;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background: rgb(34, 191, 147);
    
}
ul {
    max-width: 450px;
    background: #ffffff;
    list-style-type:none;
}
li:hover {
    color: #ffffff;
}
.products-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 46px
}
.product-cart {
    background: #ffffff;
    width: 343px;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 0 1px 10px;
}
.product-cart * {
    width: 100%;
}
hr {
    margin: 10px 0;
}
.product-cart img {
    width: 150px;
    height: 150px;
}
.image-container {
    width: max-content;
    display: flex;
    justify-content: center;
    
}
.product-cart p {
    color: rgba(0, 0, 0,70%);
    font-size: 16px;
    font-weight:900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 0;
    
}
.product-cart p:nth-child(1){
    max-width: 90%;

}

.product-cart a {
    text-align: center;
    display: block;
    background: #31733f;
    padding: 16px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
}
.product-cart a:hover {
    background: none;
    border: 1px solid #31733f;
    color: #31733f;
}
.product-cart div {
    padding: 5px 0px ;
    width: 100%;
    
}
details {
    
    background: rgb(23 162 184);
    padding: 16px;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    position: relative;
}
summary {
    text-align: center;
}
details ul {
    background: none;
    position: absolute;
    background: rgb(23 162 184);
    padding: 20px;
    margin: 0;
    left: 0;
    border-radius: 0px 0px 16px 16px;
    z-index: 9;
    box-shadow: 0 4px 4px rgb(5, 133, 153);
    
}
.details-container {
    position: relative;
}
details li {
    padding: 5px;
    font-size: 13px;
}